$primary: #131212;
$secondary: #fff;
$tertiary: #eb1536;

$dark: $primary;
$success: $tertiary;


// $blue: '#ff44ff';
// $light: rgb(76, 36, 196);

// $while: rgb(185, 163, 38);
// $default: rgb(248, 66, 11);

// $bgDefault   : #e74c3c;
// $bgHighlight : #c0392b;
// $colDefault  : #ecf0f1;
// $colHighlight: #ffbbbc;

@import "~bootstrap/scss/bootstrap";